<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Star Wars</title>
</head>
<body>
  <%- include('./partials/header') %>
    <div class="container">
        <div class="row mb-3">
          <h4 class="text-center">Eliminar Personaje</h4>
        </div>
        <div class="row justify-content-center">
          <div class="col-5">
                <form action="/eliminar" method="POST">
                  <div class="form-group mb-3">
                    <label>Numero de episodio</label>
                    <select name="episodio" class="form-select">
                      <% episodios.forEach( (episodio, idx) => { %>
                        <option value="<%= episodio %>"> <%= `${episodio}- ${nombres[idx]} ` %> </option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="inputPersonaje">Nombre del personaje</label>
                    <input type="text" class="form-control" name="nombre">
                  </div>
                  <div class="grid gap-2">
                    <a class="btn" href="/" style="text-decoration: none; color: white; background-color: #205375 ; width: 49%;">Volver</a>
                    <button type="submit" class="btn" id="btnEliminarPersonaje" style="background-color: #205375; width: 50%; color: white;">Eliminar</button>
                  </div>
                </form>
          </div>
        </div>
      </div>
    
</body>
</html>