<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Api Turismo</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg  mb-4" style="background-color: #205375;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" style="color: white;">API TURISMO</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/cargar" style="color: white;">Cargar</a></li>
                        <li class="nav-item"><a class="nav-link" href="/listar" style="color: white;">Listar</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
    <h5 style="text-decoration: underline;">Encuentra los lugares mas cercanos a tu ubicacion:</h5>
    <form method="GET" action="/listar">
        <div class="mb-4">
            <label class="label-form">Longuitud</label>
            <input type="double" name="long">
        </div>
        <div class="mb-4">
            <label class="label-form">Latitud</label>
            <input type="double" name="lat">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #630606; border: none;">Cargar</button>
    </form>
    <br/>
    <h5 style="color: #630606;">Cervecerias:</h5>
    {% for cerveceria in cervecerias %}  
        <ul>
          <li>{{cerveceria}}</li>
        </ul>
    {% endfor %}
    
    <h5 style="color: #630606;">Universidades:</h5>
    {% for universidad in universidades %}
        <ul>
            <li>{{universidad}}</li>
        </ul>
    {% endfor %}

    <h5 style="color: #630606;">Farmacias:</h5>
    {% for farmacia in farmacias %}
        <ul>
            <li>{{farmacia}}</li>
        </ul>
    {% endfor %}

    <h5 style="color: #630606;">Emergencias:</h5>
    {% for emergencia in emergencias %}
        <ul>
            <li>{{emergencia}}</li>
        </ul>
    {% endfor %}

    <h5 style="color: #630606;">Supermercados:</h5>
    {% for supermercado in supermercados %}
        <ul>
            <li>{{supermercado}}</li>
        </ul>
    {% endfor %}
    </div>
</body>
</html>
